@import "./../../Assets/mixins.scss";
@import "./../../Assets/palette.scss";

.Footer {
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;

    &__Heading {
        text-align: center;
        margin: 20px 0;
    }
}
