@import "./../../Assets/mixins.scss";
@import "./../../Assets/palette.scss";

.CartItemList {
    margin: 60px 200px;

    @media (min-width: ($phone + 1)) and (max-width: $tablet-portrait) {
        margin: 0 0;
    }

    &__Heading {
        font-family: $heading-font;
        @include text-style(18px, 500, 27px, $spacing: 0.02em);
    }

    @media (max-width: ($phone)) {
        &__Heading {
            padding-right: 10px;
        }
    }

    @media (min-width: ($phone + 1)) and (max-width: $tablet-portrait) {
        &__Heading {
            padding-right: 10px;
        }
    }

    &__Error {
        font-family: $body-font;
        @include text-style(16px, 400, 27px);
    }

    &__Container {
        @include flex($flx-dir: column, $flex-wrap: wrap, $align-itm: none);
        gap: 30px;
    }

    @media (max-width: ($phone)) {
        &__Container {
            display: grid;
            grid-template-columns: repeat 2 (1fr);
        }
    }

    &__Total {
        left: 0;
        bottom: 0;
        right: 0;
        position: fixed;
        text-align: center;
        font-family: $heading-font;
        @include text-style(18px, 500, 27px, $spacing: 0.02em);
    }
}
